
ul
{
    padding: 0;
    width: 100%;
}
li
{
    display: inline;
    text-align: center;
}
.tn
{
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}
.b
{
    margin-bottom: 10px;
}
