<h3>{{title}}<h3>
<div class="row">
  <button class="btn btn-lg btn-info b" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
  <button class="btn btn-lg btn-info b" [class.active]="filterBy=='games'" (click)="filterBy='games'">Games</button>
  <button class="btn btn-lg btn-info b" [class.active]="filterBy=='heroes'" (click)="filterBy='heroes'">Heroes</button>
  <button class="btn btn-lg btn-info b" [class.active]="filterBy=='others'" (click)="filterBy='others'">Others</button>
  <ul id="thumbnailList">
    <li *ngFor="let image of (images | filter : filterBy)" >
      <a [routerLink]="['/image',image.id]">
      <img src="{{image.url}}" class="tn" width="250" height="160">
        </a>
    </li>
  </ul>
</div>